/* color #F7A219 */
@font-face {
    font-family: 'imported';
    src: url(font.woff2);
}
div, button, input {
    font-family: 'imported', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}
h1, h2, p {
    text-align: center;
    font-weight: normal;
}
a {
    color: black;
    outline: 0;
}
a:focus {
    color: #F7A219;
}
button {
    display: block;
    background: transparent;
    cursor: pointer;
    outline: 0;
}

#header {
    overflow: hidden;
    min-height: 64px;
    background: #F7A219;
}
#header a {
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
}
#header a:focus {
    background: black;
}
#header a img {
    display: block;
}
#headerButtons {
    overflow: hidden;
    margin: 6px 12px 2px 74px;
}
#headerButtons button {
    float: right;
    border: 3px solid #F7A219;
    border-radius: 100px;
    padding: 12px;
    font-size: 18px;
}
#headerButtons button:focus {
    border-color: black;
}
#headerButtons .active {
    border-color: black;
}
#trx, #eth {
    width: 60px;
}
#eth {
    margin-right: 3px;
}
#connect {
    display: none;
    margin-right: 12px;
}
#main {
    overflow: hidden;
    margin: 0px auto;
    width: 90%;
    max-width: 800px;
}
#startMessage {
    min-height: 32px;
}
.onestring {
    overflow: hidden;
    text-overflow: ellipsis;
}
h2 {
    margin-top: 80px;
}
.halfContainer {
    overflow: hidden;
    margin-top: 32px;
}
label {
    display: block;
    margin: 0px auto 24px;
    width: 90%;
    max-width: 320px;
    cursor: text;
}
.hint {
    padding-left: 10px;
    font-size: 12px;
    color: red;
}
label input {
    display: block;
    margin-top: 8px;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    background: transparent;
    font-size: 16px;
    outline: 0;
}
label input:focus {
    border-color: #F7A219;
}
#main button {
    margin: 0px auto;
    border: 3px solid black;
    border-radius: 100px;
    width: 140px;
    padding: 12px;
    font-size: 18px;
}
#main button:focus {
    background: #F7A219;
}
#main #buy {
    margin-bottom: 48px;
}
.smallHalf {
    float: left;
    width: 49.9%;
}
#ref {
    display: none;
}
#reflink {
    word-break: break-all;
}
#logs {
    margin: 80px auto 32px;
}
#logs p {
    text-align: left;
}
#loading {
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    opacity: 0.9;
    cursor: wait;
    animation: loadingBackground 1s forwards;
}
#loading div {
    margin: auto;
    margin-top: 30vh;
    width: 160px;
    height: 160px;
    background: url(svg.svg) center/contain no-repeat;
    animation: loading 6s linear infinite;
}

@media print, screen and (min-width: 750px) {
    .half {
        float: left;
        width: 49.9%;
    }
    #main #buy {
        margin-bottom: 0px;
    }
}

@media (hover: hover) {
    a:hover {
        color: #F7A219;
    }
    #header a:hover {
        background: black;
    }
    #headerButtons button:hover {
        border-color: black;
    }
    label input:hover {
        border-color: #F7A219;
    }
    #main button:hover {
        background: #F7A219;
    }
}

@keyframes loadingBackground {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}